@import "styles/reset";

.game-ui-wrapper {
  width: 100%;
  background: #FFF;
  height: 80px;
}

.game-ui {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topbar-title {
  flex: 1;
  text-align: center;
}

.player-name {
  width: calc(140px + 1em);
  padding-left: 1em;
  text-align: left;
}

.game-board {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 600px;
  border: 2px solid #aaa;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.cell:nth-child(even) {
  background: #efefde;
}

.cell:nth-child(odd) {
  background: #dedecd;
}

.cell {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 200px;
  max-width: 170px;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
  margin: 1em;
  padding: .25em;
  pointer-events: none;
  height: 180px;
  max-height: 180px;
  width: 130px;
  max-width: 130px;
  background-size: cover !important;
  &.blank {
    display: none;
  }
}

.card-image-wrapper {
  background-size: cover;
  position: relative;
}

.current .card {
  pointer-events: auto;
}

.card.player1 {
  background: red;
}
.player1 .card-image-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  z-index: 1;
}

.card.player2 {
  background: blue;
}
.player2 .card-image-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  z-index: 1;
}
.player .card {
  box-shadow: 0px -6px 12px rgba(0,0,0,0.7);
}
.card.active {
  border: 4px solid #FFF;
  box-shadow: 2px -5px 12px rgba(255,255,153, 0.8);
}

.player .card:nth-of-type(2) {
  transform: translateY(-75px);
}
.player .card:nth-of-type(3) {
  transform: translateY(-150px);
}
.player .card:nth-of-type(4) {
  transform: translateY(-225px);
}
.player .card:nth-of-type(5) {
  transform: translateY(-300px);
}

.card-scores {
  display: grid;
  grid-template-areas: ". top ."
                    "left . right"
                      ". bottom .";
  height: 50px;
  width: 40px;
  z-index: 2;
  position: relative;
}
.card-score {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.card-score:nth-child(1) {
  grid-area: top;
}
.card-score:nth-child(2) {
  grid-area: right;
}
.card-score:nth-child(3) {
  grid-area: bottom;
}
.card-score:nth-child(4) {
  grid-area: left;
}

body {
  background-image: url('/dogs.svg');
  background-color: #DFDBE5;
}