.tripleTriadGame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
  height: 600px;
  border: 2px solid #aaa;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.cell:nth-child(even) {
  background: #efefde;
}

.cell:nth-child(odd) {
  background: #dedecd;
}

.cell {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 150px;
}

.cell p {
  font-size: 4em;
  margin: 0;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
  grid-template-areas: ". top ."
                    "left . right"
                      ". bottom .";
  margin: 1em;
  padding: .25em;
  pointer-events: none;
  height: 180px;
  max-height: 180px;
  width: 130px;
  max-width: 130px;
  background-size: cover !important;
  &.blank {
    display: none;
  }
}

.current .card {
  pointer-events: auto;
}

.card.player1 {
  background: red;
}

.card.player2 {
  background: blue;

}

.card-scores {
  display: grid;
  grid-template-areas: ". top ."
                    "left . right"
                      ". bottom .";
  grid-area: top left;
  height: 50px;
  width: 40px;
}
.card-score {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.card-score:nth-child(1) {
  grid-area: top;
}
.card-score:nth-child(2) {
  grid-area: right;
}
.card-score:nth-child(3) {
  grid-area: bottom;
}
.card-score:nth-child(4) {
  grid-area: left;
}
